<% include partials/header %>


<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome to Students Guide!!!</h1>
            <p>View our hand-picked notes for 10th and 12th grade students</p>
            <p>
                <a class="btn btn-primary btn-lg" href="/campgrounds/new">Sign up!</a>
            </p>
        </div>
    </header>

</div>

<% include partials/footer %>